@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Modulus;
  src: url("./assets/fonts/Modulus/Modulus-Regular.ttf");
}

@font-face {
  font-family: Modulus;
  src: url("./assets/fonts/Modulus/Modulus-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Modulus;
  src: url("./assets/fonts/Modulus/Modulus-Bold.otf");
  font-weight: bold;
}
