*::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: var(--scrollbar-track-background-color);
  border-radius: var(--global-border-radius);
  height: 0.25rem;
}

*::-webkit-scrollbar {
  background-color: transparent;
  height: 0.625rem;
  width: 0.75rem;
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
  background-color: var(--scrollbar-thumb-background-color);
  border-radius: var(--global-border-radius);
}

*::-webkit-scrollbar-button {
  display: block;
  height: 0.25rem;
  width: 0.25rem;
}
